@model Peacock.PEP.Model.DTO.OnLineBusinessModel
@{
    ViewBag.Title = "线上业务详细";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<ul class="m-crm">
    <li><a href="@Url.Action("Welcome", "Home")"><i class="fa fa-home"></i>&nbsp;&nbsp;首页</a> <span class="divider">&gt;</span></li>
    <li><a href="@Url.Action("Index", "OnlineBusiness")">&nbsp;&nbsp;线上业务</a> <span class="divider">&gt;</span></li>
    <li>查看详细</li>
</ul>
<div class="detail no-border">
    <h3>查看详情</h3>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered no-padding-right no-padding-left">
        <tr>
            <td width="14%"><label>交易单编号：</label></td>
            <td width="20%"> @Model.TransactionNo</td>
            <td width="14%"><label>期望评估总价：</label></td>
            <td width="20%">@Model.Assessment</td>
            <td width="14%"><label>期望评估单价：</label></td>
            <td width="18%">@Model.AssessPrice</td>
        </tr>

        <tr>
            <td><label>邮寄地址：</label></td>
            <td>@Model.PostAddress</td>
            <td><label>贷款类型：</label></td>
            <td>@Model.LoanType</td>
            <td><label>贷款成数：</label></td>
            <td>@Model.LoanRatio</td>
        </tr>
        <tr>
            <td><label>报告份数：</label></td>
            <td>@Model.ReportQuantity</td>
            <td><label>备注：</label></td>
            <td>@Model.Remark</td>
            <td><label>规划用途：</label></td>
            <td>@Model.PlanUse</td>
        </tr>
        <tr>
            <td><label>物业类型：</label></td>
            <td>@Model.PropertysType</td>
            <td><label>房屋性质：</label></td>
            <td>@Model.HouserOperties</td>
            <td><label>物业地址：</label></td>
            <td>@Model.HouseAddress</td>
        </tr>
        <tr>
            <td><label>面积：</label></td>
            <td>@Model.Area</td>
            <td><label>总楼层：</label></td>
            <td>@Model.TotalFloor</td>
            <td><label>所在楼层：</label></td>
            <td>@Model.Floor</td>
        </tr>
        <tr>
            <td><label>行政区域：</label></td>
            <td>@Model.Region</td>
            <td><label>小区名：</label></td>
            <td>@Model.Community</td>
            <td><label>建成年代：</label></td>
            <td>@Model.BuildYear</td>
        </tr>
        <!--新增字段-->
        <tr>
            <td><label>城市：</label></td>
            <td>@Model.City</td>
            <td><label>楼栋名称：</label></td>
            <td>@Model.FloorBuilding</td>
            <td><label>朝向：</label></td>
            <td>@Model.Orientation</td>
        </tr>
        <tr>
            <td><label>单元：</label></td>
            <td>@Model.UnitName</td>
            <td><label>房号：</label></td>
            <td>@Model.HouseNo</td>
            <td><label>户型-室：</label></td>
            <td>@Model.DoorModelRoom</td>
        </tr>
        <tr>
            <td><label>户型-厅：</label></td>
            <td>@Model.DoorModelHall</td>
            <td><label>户型-卫：</label></td>
            <td>@Model.DoorModelWash</td>
            <td><label>装修情况：</label></td>
            <td>@Model.DecorateCase</td>
        </tr>
        <!--新增字段-->
        <tr>
            <td><label>买方姓名：</label></td>
            <td>@Model.BuyerName</td>
            <td><label>买方性别：</label></td>
            <td>@Model.BuyerGender</td>
            <td><label>买方身份证号：</label></td>
            <td>@Model.BuyerID</td>
        </tr>
        <tr>
            <td><label>卖方姓名：</label></td>
            <td>@Model.SellerName</td>
            <td><label>卖方联系方式：</label></td>
            <td>@Model.SellerPhone</td>
            <td><label>卖方证件类型：</label></td>
            <td>@Model.SellerCardType</td>
        </tr>
        <tr>
            <td><label>卖方证件号：</label></td>
            <td>@Model.SellerID</td>
            <td><label>经纪人姓名：</label></td>
            <td>@Model.DealuserName</td>
            <td><label>经纪人电话：</label></td>
            <td>@Model.DealuserMobile</td>
        </tr>
        <tr>
            <td><label>金融顾问：</label></td>
            <td>@Model.LinkMan</td>
            <td><label>金融顾问电话：</label></td>
            <td>@Model.LinkMobile</td>
            <td><label>中台姓名：</label></td>
            <td>@Model.ServName</td>
        </tr>
        <tr>
            <td><label>中台电话：</label></td>
            <td>@Model.ServMobile</td>
            <td><label>成交价：</label></td>
            <td>@Model.RealMoney</td>
            <td><label>网签价：</label></td>
            <td>@Model.ContractMoney</td>

        </tr>
        <!--新增字段-->
        <tr>
            <td><label>紧急程度：</label></td>
            <td>@Model.Urgency</td>
            <td><label>高低评：</label></td>
            <td>@Model.HighLowAssess</td>
            <td><label>银行名称：</label></td>
            <td>@Model.BankListStr</td>
        </tr>
        <tr>
            <td><label>借款人：</label></td>
            <td>@Model.BorrowName</td>
            <td><label>借款人证件类型：</label></td>
            <td>@Model.BorrowCardType</td>
            <td><label>借款人证件号码：</label></td>
            <td>@Model.BorrowID</td>
        </tr>
        <tr>
            <td><label>委托人：</label></td>
            <td>@Model.DelegateName</td>
            <td><label>委托人电话：</label></td>
            <td>@Model.DelegatePhone</td>
            <td><label>委托人证件类型：</label></td>
            <td>@Model.DelegateCardType</td>
        </tr>
        <tr>
            <td><label>委托人证件号码：</label></td>
            <td>@Model.DelegateCardId</td>
            <td><label>所属公司：</label></td>
            <td>@ViewBag.CompanyName</td>
            <td><label>看房地址：</label></td>
            <td>@Model.SeeHouseAddr</td>
        </tr>
        <tr>

            <td><label>报告接收人：</label></td>
            <td>@Model.ReportReceive</td>
            <td><label>报告接收地址-省份：</label></td>
            <td>@Model.ReportReceiveProvince</td>
            <td><label>报告接收地址-城市：</label></td>
            <td>@Model.ReportReceiveCity</td>
        </tr>
        <tr>
            <td><label>报告接收地址-行政区域：</label></td>
            <td>@Model.ReportReceiveRegion</td>
            <td><label>报告接收地址-街道地址：</label></td>
            <td>@Model.ReportReceiveRegion</td>
            <td><label>报告接收人-联系电话：</label></td>
            <td>@Model.ReportReceivePhone</td>
        </tr>
        <tr>
            <td><label>看房联系人：</label></td>
            <td colspan="5">@Model.SeeHouseLinker</td>
        </tr>
        <!--新增字段结束-->
        <tr>
            <td><label>数据来源：</label></td>
            <td>@Model.DataSource</td>
            <td><label>是否已受理：</label></td>
            <td>@(Model.IsAccept ? "是" : "否")</td>
            @if (Model.IsAccept)
            {
                <td><label>项目流水号：</label></td>
                <td>@(Model.Project == null ? "" : Model.Project.ProjectNo)</td>
            }
            else if (!string.IsNullOrWhiteSpace(Model.RefusedReason))
            {
                <td><label>拒绝原因：</label></td>
                <td>@Model.RefusedReason</td>
            }
            else
            {
                <td></td>
                <td></td>
            }
        </tr>
    </table>
</div>


@if (Model.OnLineFeedBacks.Count > 0)
{
    <div class="detail">
        <h3>反馈意见</h3>
        <table class="table table-condensed" data-height="200">
            <thead>
                <tr>
                    <th>内容</th>
                    <th>备注</th>
                    <th>反馈时间</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OnLineFeedBacks)
                {
                    <tr>
                        <td>@item.Content</td>
                        <td>@item.Remark</td>
                        <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.CreateTime)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<div class="detail">
    <h3>线上资料</h3>
    <div class="row">
        @foreach (var document in ViewBag.DocumentList)
        {
            <div class="col-xs-6 col-md-3">
                <a href="@document.OriginalImageUrl" class="thumbnail" download="@document.FileName">
                    <img src="@document.ThumbnailUrl">
                    <div class="caption">
                        <h4>@document.FileName</h4>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
