@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@*<link href="~/Content/css/login.css" type="text/css" rel="stylesheet" />*@
<script type="text/javascript" src="~/Content/plug-in/autocomplete/jquery.autocomplete.js"></script>
<link href="~/Content/plug-in/autocomplete/jquery.autocomplete.css" type="text/css" rel="stylesheet" />
@*<ul class="m-crm">
    <li><a href="@Url.Action("Welcome", "Home")"><i class="fa fa-home"></i>&nbsp;&nbsp;首页</a> <span class="divider">&gt;</span></li>
    <li>报告发送</li>
</ul>*@
<div class="inquire-tab">
    <form id="searchinfo">
        <table border="0" cellspacing="0" cellpadding="0" class="report">
            <tr>
                <td>发送状态：</td>
                <td>
                    <select id="IsSent" class="report-input">
                        <option value="" selected="selected">全部</option>
                        <option value="false">未发送</option>
                        <option value="true">已发送</option>
                    </select>
                </td>
                <td>流水号：</td>
                <td><input id="ProjectNo" type="text" name="ProjectNo" class="report-input" /></td>
                <td>报告号：</td>
                <td><input id="ReportNo" type="text" name="ReportNo" class="report-input" /></td>
                <td>项目地址：</td>
                <td><input id="ProjectAddress" type="text" name="ProjectAddress" class="report-input" /></td>
                <td>小区名称：</td>
                <td><input id="ResidentialAreaName" type="text" class="report-input" name="ResidentialAreaName" /></td>
                <td><button id="projectSearch" type="button" class="report-btn-1">查询</button></td>
            </tr>
        </table>
    </form>
    <div id="searchinfo1">
        <table id="projectData"></table>
    </div>
    <!--<div class="report-info mar-t-20">
        <div class="report-info-list">
            <div class="report-info-list-one">
                <a href="javascript:void(0);" class="current">报告发送</a>
            </div>
        </div>
        <div class="report-info-tab">
            <div>
                <form id="reportsearchinfo">
                    <table width="100%" class="mar_t_20" border="0" cellspacing="0" cellpadding="0" style="width: 720px;margin-bottom: 10px;">
                        <tr>
                            <td>快递公司：</td>
                            <td><input id="SendExpress" name="SendExpress" type="text" class="report-input" /></td>
                            <td>快递单号：</td>
                            <td><input id="ExpressNo" name="ExpressNo" type="text" class="report-input" /></td>
                            <td>接收地址：</td>
                            <td><input id="SendAddress" name="SendAddress" type="text" class="report-input" /></td>
                            <td><button id="reportSearch" type="button" class="report-btn-1">查询</button></td>
                        </tr>
                    </table>

                </form>
                <div id="reportsearchinfo1">
                    <table id="reportData"></table>
                </div>
            </div>
        </div>
    </div> -->
</div>
<div class="layer_notice" style="display: none;">
    <h2><i class="fa fa-close pull-right" style="" onclick="cancel()"></i><span style=" ">报告发送</span></h2>
    <form id="reportsaveinfo">
        <table>
            <tr>
                <td class="left" style="width:100px;">发送方式</td>
                <td style="width:200px;"><input id="txtSendType" name="txtSendType" type="text" value="" /></td>
                <td class="left" style="width:100px">快递公司</td>
                <td style="width:200px;"><input id="txtSendExpress" name="txtSendExpress" type="text" value="" /><span class="color-red ">*</span></td>
            </tr>
            <tr style="height: 8px;"></tr>
            <tr>
                <td class="left">快递单号</td>
                <td><input id="txtExpressNo" name="txtExpressNo" type="text" value="" /><span class="color-red ">*</span></td>
                <td class="left">发送份数</td>
                <td><input id="txtSendQuantity" name="txtSendQuantity" type="text" value="" /><span class="color-red ">*</span></td>
            </tr>
            <tr style="height: 8px;"></tr>
            <tr>
                <td class="left">接收人</td>
                <td><input id="txtReceiver" name="txtReceiver" type="text" value="" /><span class="color-red ">*</span></td>
                <td class="left">接收人电话</td>
                <td><input id="txtReciverMobile" name="txtReciverMobile" type="text" value="" /><span class="color-red ">*</span></td>
            </tr>
            <tr style="height: 8px;"></tr>
            <tr>
                <td class="left">接收地址</td>
                <td colspan="3"><input id="txtSendAddress" name="txtSendAddress" type="text" value="" style="width: 450px" /></td>
            </tr>
            <tr style="height: 8px;"></tr>
            <tr>
                <td class="left">备注</td>
                <td colspan="3"><input id="txtRemark" name="txtRemark" type="text" value="" style="width:450px" /></td>
            </tr>
            <tr style="height: 8px;"></tr>
            <tr>
                <td colspan="4" align="center">
                    <button onclick="confirm();" type="button" class="btn-blue">保存</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<script type="text/javascript">
    var index, dialog;
    var takeProjectId = 0;

    $(function () {

        //表格初始化
        projectint();

        //查询验证
        $("#searchinfo").validate({
            rules: {
                //流水号
                ProjectNo: {
                    maxlength: 15,
                    isDigits: true
                },
                //报告编号
                ReportNo: {
                    maxlength: 18,
                    isDigits: true
                },
                //物业地址
                ProjectAddress: {
                    maxlength: 50
                },
                //小区名称
                ResidentialAreaName: {
                    maxlength: 50
                }
            },
            messages: {
                ProjectNo: {
                    maxlength: jQuery.validator.format("亲,字符不用超过15个"),
                    isDigits: "输入的必须为数字"
                },
                ReportNo: {
                    maxlength: jQuery.validator.format("亲,字符不用超过18个"),
                    isDigits: "输入的必须为数字"
                },
                ProjectAddress: {
                    maxlength: jQuery.validator.format("亲,字符不用超过50个")
                },
                ResidentialAreaName: {
                    maxlength: jQuery.validator.format("亲,字符不用超过50个")
                }
            },
            success: function (label) {
                layer.close(dialog);
                $("#" + label[0].htmlFor).removeClass("error-border");
            },
            errorPlacement: function (error, element) {
                $("#" + element[0].id).addClass("error-border");
                dialog = layer.tips(error[0].innerHTML, "#" + element[0].id, {
                    tips: [2, '#F99228']
                });
            }
        });

        //报告发送查询
        $("#reportsearchinfo").validate({
            rules: {
                //快递公司
                SendExpress: {
                    maxlength: 100
                },
                //快递单号
                ExpressNo: {
                    maxlength: 25,
                    isDigits: true
                },
                //接收地址
                SendAddress: {
                    maxlength: 200
                }
            },
            messages: {
                txtSendExpress: {
                    maxlength: jQuery.validator.format("亲,字符不用超过100个")
                },
                ExpressNo: {
                    maxlength: jQuery.validator.format("亲,字符不用超过25个"),
                    isDigits: "输入的必须为数字"
                },
                SendAddress: {
                    maxlength: jQuery.validator.format("亲,字符不用超过200个")
                }
            },
            success: function (label) {
                layer.close(dialog);
                $("#" + label[0].htmlFor).removeClass("error-border");
            },
            errorPlacement: function (error, element) {
                $("#" + element[0].id).addClass("error-border");
                dialog = layer.tips(error[0].innerHTML, "#" + element[0].id, {
                    tips: [2, '#F99228']
                });
            }
        });

        //报告发送表单提交验证
        $("#reportsaveinfo").validate({
            rules: {
                //快递公司
                txtSendExpress: {
                    maxlength: 100,
                    required: true
                },
                //快递单号
                txtExpressNo: {
                    maxlength: 25,
                    required: true
                },
                //发送份数
                txtSendQuantity: {
                    maxlength: 25,
                    isDigits: true,
                    required: true
                },
                //接收人
                txtReceiver: {
                    maxlength: 50,
                    required: true
                },
                //接收人电话
                txtReciverMobile: {
                    ContentType: true,
                    required: true
                },
                //接收地址
                txtSendAddress: {
                    maxlength: 200
                },
                //备注
                txtRemark: {
                    maxlength: 200
                }
            },
            messages: {
                txtSendExpress: {
                    maxlength: jQuery.validator.format("亲,字符不用超过100个")
                },
                txtExpressNo: {
                    maxlength: jQuery.validator.format("亲,字符不用超过25个")
                },
                txtSendQuantity: {
                    maxlength: jQuery.validator.format("亲,字符不用超过25个"),
                    isDigits: "输入的必须为数字",
                    required: "必填字段"
                },
                txtReciverMobile: {
                    ContentType: "输入的正确的手机号码",
                    required: "必填字段"
                },
                txtReceiver: {
                    maxlength: jQuery.validator.format("亲,字符不用超过50个"),
                    required: "必填字段"
                },
                txtSendAddress: {
                    maxlength: jQuery.validator.format("亲,字符不用超过100个")
                },
                txtRemark: {
                    maxlength: jQuery.validator.format("亲,字符不用超过100个")
                }
            },
            success: function (label) {
                layer.close(dialog);
                $("#" + label[0].htmlFor).removeClass("error-border");
            },
            errorPlacement: function (error, element) {
                $("#" + element[0].id).addClass("error-border");
                dialog = layer.tips(error[0].innerHTML, "#" + element[0].id, {
                    tips: [1, '#F99228']
                });
            }
        });


        $('#projectSearch').click(projectRefresh);


        $('#reportSearch').click(reportRefresh);

        $(window).resize(function () {
            $('#projectData').bootstrapTable('resetWidth', "100%");
            $('#reportData').bootstrapTable('resetWidth', "100%");
        });

    });

    function projectRefresh() {
        var flag = $("#searchinfo").valid();
        if (flag) {
            $('#projectData').bootstrapTable("destroy");
            projectint();
        }
    }

    function reportRefresh() {
        var flag = $("#reportsearchinfo").valid();
        if (flag) {
            $('#reportData').bootstrapTable("destroy");
            reportint();
        }
    }

    function viewReport(id) {
        reportint()
        takeProjectId = id;
        $('#reportData').bootstrapTable('refresh');
    }

    function sendReport(id) {
        if (id > 0) {
            $(".layer_notice input").val("");
            takeProjectId = id;
            index = layer.open({
                type: 1,
                shade: [0.3, "#070707"],
                closeBtn: 0,
                area: ['600px', '320px'],
                title: false, //不显示标题
                content: $('.layer_notice'), //捕获的元素
                success: function () {
                    $.ajax({
                        url: "@Url.Content("~/ReportDelivery/SendType")",
                        async: false,
                        dataType: "json",
                        type: "GET",
                        data: { 'qs': new Date().toString() },
                        success: function (result) {
                            $('#txtSendType').bind("focus", function () {
                                $(this).autocomplete(result.data, {
                                    minChars: 0,
                                    width: $('#txtSendType').width(),
                                    max: result.data.length
                                });
                            });
                        },
                        error: function (XmlHttpRequest, textStatus, errorThrown) {
                            var $errorPage = XmlHttpRequest.responseText;
                        }
                    });
                }
            });
        } else {
            layer.msg("服务器繁忙请稍候再试.", { icon: 5, time: 1500, shade: [0.3, '#000'] });
        }
    }

    function confirm() {
        var sendType = $('#txtSendType').val();
        var sendExpress = $('#txtSendExpress').val();
        var expressNo = $('#txtExpressNo').val();
        var sendQuantity = $('#txtSendQuantity').val();
        var receiver = $('#txtReceiver').val();
        var reciverMobile = $('#txtReciverMobile').val();
        var sendAddress = $('#txtSendAddress').val();
        var remark = $('#txtRemark').val();
        var reg = /^0?1[3|4|5|8][0-9]\d{8}$/;
        var flag = $("#reportsaveinfo").valid();
        if (takeProjectId <= 0) {
            layer.msg("当前项目可能被删除!", { icon: 5, time: 1200 });
            return;
        }
        if (flag) {
            $.ajax({
                url: "@Url.Action("SaveReportSendData", "ReportDelivery")",
                async: true,
                dataType: "json",
                beforesend: showLoadingTips(),
                type: "GET",
                data: {
                    'SendType': sendType,
                    'SendExpress': sendExpress,
                    'ExpressNo': expressNo,
                    'SendQuantity': sendQuantity,
                    'Receiver': receiver,
                    'ReciverMobile': reciverMobile,
                    'SendAddress': sendAddress,
                    'Remark': remark,
                    'ProjectId': takeProjectId,
                    'qs': new Date().toString()
                },
                success: function (result) {
                    hideLoadingTips();
                    if (result.Success) {
                        layer.alert(result.Message, { icon: 1, closeBtn: 0 }, function () {
                            cancel();
                            projectRefresh();
                            layer.closeAll();
                        });
                    } else {
                        layer.msg(result.Message, { icon: 5, time: 1500, shade: [0.3, '#000'] });
                    }
                },
                error: function (XmlHttpRequest, textStatus, errorThrown) {
                    hideLoadingTips();
                    var $errorPage = XmlHttpRequest.responseText;
                }
            });
        }
    }

    function cancel() {
        layer.close(index);
    }

    function projectint() {
        $('#projectData').bootstrapTable({
            url: '/ReportDelivery/GetProjectData', //请求后台的URL（*）
            method: 'get', //请求方式（*）
            striped: true, //是否显示行间隔色
            cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true, //是否显示分页（*）
            queryParams: function (params) {
                return {
                    isSent: $("#IsSent").val(),
                    projectNo: $("#ProjectNo").val(),
                    reportNo: $("#ReportNo").val(),
                    projectAddress: $("#ProjectAddress").val(),
                    residentialAreaName: $("#ResidentialAreaName").val(),
                    isApprove: true,
                    getReportCount: true,
                    rows: params.limit, //页面大小
                    index: params.offset / params.limit + 1, //页码
                };
            }, //传递参数（*）
            sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1, //初始化加载第一页，默认第一页
            pageSize: 10, //每页的记录行数（*）
            pageList: [10, 25, 50, 100], //可供选择的每页的行数（*）
            strictSearch: true,
            height: 'auto',
            clickToSelect: true, //是否启用点击选中行
            uniqueId: "Id", //每一行的唯一标识，一般为主键列
            cardView: false, //是否显示详细视图
            detailView: false, //是否显示父子表
            columns: [
                {
                    title: '流水号',
                    field: 'ProjectNo',
                    align: 'left',
                    valign: 'middle'
                },
                {
                    title: '报告号',
                    field: 'ReportNo',
                    align: 'left',
                    valign: 'middle',
                },
                {
                    title: '项目地址',
                    field: 'ProjectAddress',
                    align: 'left',
                    valign: 'middle'
                },
                {
                    title: '小区名称',
                    field: 'ResidentialAreaName',
                    align: 'left',
                    valign: 'middle'
                },
                {
                    title: '已发送份数',
                    field: 'SendReportCount',
                    align: 'left',
                    valign: 'middle'
                },
                {
                    title: '操作',
                    align: 'left',
                    valign: 'middle',
                    formatter: function (value, row, index) {
                        var e = '<a href="javascript:void(0);"  onclick="sendReport(\'' + row.Id + '\')">发送报告</a>';
                        var d = '&nbsp;&nbsp;<a href="javascript:void(0);"  onclick="reportSendDetail(\'' + row.Id + '\')">查看详细</a>';
                        return e + d;
                    }
                }
            ],
            onClickRow: function (row, $element) {
                $('.success').removeClass('success');
                $($element).addClass('success');
                viewReport(row.Id);
            }
        });
    }

    function reportint() {
        $('#reportData').bootstrapTable({
            url: '/ReportDelivery/GetReportData', //请求后台的URL（*）
            dataType: "json",
            method: 'get', //请求方式（*）
            striped: true, //是否显示行间隔色
            cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true, //是否显示分页（*）
            queryParams: function (params) {
                return {
                    sendExpress: $("#SendExpress").val(),
                    expressNo: $('#ExpressNo').val(),
                    sendAddress: $('#SendAddress').val(),
                    projectId: takeProjectId,
                    rows: params.limit, //页面大小
                    index: params.offset / params.limit + 1,
                };
            }, //传递参数（*）
            sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1, //初始化加载第一页，默认第一页
            pageSize: 10, //每页的记录行数（*）
            pageList: [10, 25, 50, 100], //可供选择的每页的行数（*）
            strictSearch: true,
            height: 'auto',
            singleSelect: false,
            uniqueId: "Id", //每一行的唯一标识，一般为主键列
            cardView: false, //是否显示详细视图
            detailView: false, //是否显示父子表
            columns: [
                {
                    title: '发送方式',
                    field: 'SendType',
                    align: 'left',
                    valign: 'middle'
                },
                {
                    title: '快递公司',
                    field: 'SendExpress',
                    align: 'left',
                    valign: 'middle'
                },
                {
                    title: '快递单号',
                    field: 'ExpressNo',
                    align: 'left',
                    valign: 'middle'
                },
                {
                    title: '接收地址',
                    field: 'SendAddress',
                    align: 'left',
                    valign: 'middle'
                },
                {
                    title: '收件人',
                    field: 'Receiver',
                    align: 'left',
                    valign: 'middle'
                },
                {
                    title: '收件人电话',
                    field: 'ReciverMobile',
                    align: 'left',
                    valign: 'middle'
                },
                {
                    title: '已发送份数',
                    field: 'SendQuantity',
                    align: 'left',
                    valign: 'middle'
                },
                {
                    title: '备注',
                    field: 'Remark',
                    align: 'left',
                    valign: 'middle'
                }
            ]
        });
    }

    //查看详细
    function reportSendDetail(value) {
        parent.changeIframe('ReportSendDetail_ReportDelivery', '报告发送详细', '@Href("~/ReportDelivery/ReportSendDetail?Id=")' + value);
        // window.location.href = "@Href("~/ReportDelivery/ReportSendDetail?Id=")" + value;
    }

</script> 
