@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<form id="formData">
    <input type="hidden" name="FuncID" id="FuncID" value="@ViewBag.FuncID" />
    <input type="hidden" name="tid" id="tid" value="@ViewBag.Soution.tid">
    <table class="table tabbable f-tr ">
        <tr>
            <td>方案名称</td>
            <td class="f-tl"><input type="text" value="@ViewBag.Soution.SolutionName" id="SolutionName" name="SolutionName" class="project-input" />
                <input type="hidden" id="SolutionType" name="SolutionType" value="列表">
            </td>
        </tr>
        @*<tr>
            <td>方案类型</td>
            <td class="f-tl">
                <select id="SolutionType" name="SolutionType" class="project-input">
                    <option value="列表">列表</option>
                    <option value="导出">导出</option>
                </select>
            </td>
        </tr>*@
        <tr>
            <td>是否默认方案</td>
            <td class="f-tl">
                <select id="IsDefault" name="IsDefault" class="project-input">
                    <option value="True">是</option>
                    <option value="False">否</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>备注</td>
            <td class="f-tl"><input type="text" value="@ViewBag.Soution.Remark" id="Remark" name="Remark" class="project-input" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="f-tl">
                <button type="button" class="project-btn-noima " id="submit">确定</button>
                <button type="button" class="ck-btn-qlan " id="cancel"> 取消</button>
            </td>
        </tr>
    </table>
</form>
<script>
    var dialog;
    $(function () {
        $("#formData").validate({
            rules: {
                Name: {
                    required: true,
                    maxlength: 20
                },
                Type: {
                    required: true
                },
                IsDefault: {
                    required: true
                },
                Remark: {
                    maxlength: 200
                }
            },
            message: {
                SolutionName: {
                    required: "请输入方案名称",
                    maxlength: jQuery.validator.format("亲,字符不用超过{n}个"),
                },
                SolutionType: {
                    required: "请选择方案类型",
                },
                isDefault: {
                    required: "请选择默认方案",
                },
                Remark: {
                    maxlength: jQuery.validator.format("亲,字符不用超过{n}个"),
                }
            }, success: function (label) {
                layer.close(dialog);
                $("#" + label[0].htmlFor).removeClass("error-border");
            },
            errorPlacement: function (error, element) {
                $("#" + element[0].id).addClass("error-border");
                dialog = layer.tips(error[0].innerHTML, "#" + element[0].id, {
                    tips: [2, '#F99228']
                });
            }

        });
        $("#submit").click(function () {
            var flag = $("#formData").valid();
            if (flag) {
                $.ajax({
                    url: "/IntegratedQuery/SaveSolutionInfo",
                    data: $("#formData").serialize(),
                    type: "post",
                    beforesend:parent.hideLoadingTips(),
                    success: function (data) {
                        parent.hideLoadingTips();
                        if (data.success) {
                            parent.layer.alert(data.message,{icon: 1,closeBtn:0},function () {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.Search();
                                parent.layer.closeAll();
                            });
                        }else{
                            parent.layer.msg(data.message, { icon: 0, time: 1000, shade: [0.3, '#000'] });
                        }
                    },error:function() {
                        parent.hideLoadingTips();
                    }
                });
            }
        });
        $("#cancel").click(function () {
            parent.layer.closeAll();
        });
        if ('@ViewBag.Soution' != null && '@ViewBag.Soution.SolutionName'!='') {
            //$("#SolutionType").val('@ViewBag.Soution.SolutionType');
            $("#IsDefault").val('@ViewBag.Soution.IsDefault');
            //$("#SolutionType").attr("disabled", true);
           
        }
    });
</script>