@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@*<ul class="m-crm">
    <li><a href="@Url.Action("Welcome", "Home")"><i class="fa fa-home"></i>&nbsp;&nbsp;首页</a> <span class="divider">&gt;</span></li>
     <li>综合查询</li>
</ul>*@
<div class="inquire-tab">
    <form id="searchinfo">
        <table border="0" cellspacing="0" cellpadding="0" class="inquire">
            <tr>
                <td>流水号：</td>
                <td><input type="text" name="ProjectNo" id="ProjectNo" class="project-input" maxlength="15" /></td>
                <td>报告号：</td>
                <td><input type="text" name="ReportNo" id="ReportNo" class="project-input" maxlength="15" /></td>
                <td>项目地址：</td>
                <td><input type="text" name="Address" id="Address" class="project-input" maxlength="50" /></td>
                <td>小区名称：</td>
                <td><input type="text" id="ResidentialAreaName" name="ResidentialAreaName" class="project-input" maxlength="50" />&nbsp;<i class="fa  fa-arrow-circle-o-down unfold" id="pointer"></i></td>
            </tr>
            <tr tag="arrow" style="display: none;">
                <td>物业类型：</td>
                <td>
                    <select class="project-input" id="PropertyType">
                        <option value="">请选择</option>
                        @if (ViewBag.PropoteryList != null)
                        {
                            foreach (var propotery in ViewBag.PropoteryList)
                            {
                                <option value="@propotery.Value">@propotery.Name</option>
                            }
                        }

                    </select>
                </td>
                <td>报告类型：</td>
                <td>
                    <select class="project-input" id="ReportType">
                        <option value="">请选择</option>
                        @if (ViewBag.ReportTypeList != null)
                        {
                            foreach (var reportType in ViewBag.ReportTypeList)
                            {
                                <option value="@reportType.Value">@reportType.Name</option>
                            }
                        }
                    </select>

                </td>
                <td>所属机构：</td>
                <td><input type="text" name="Bank" id="Bank" class="project-input" /></td>
                <td>分支机构：</td>
                <td><input type="text" name="Subbranch" id="Subbranch" class="project-input" /></td>

            </tr>
            <tr tag="arrow" style="display:none;">
                <td>项目所属部门</td>
                <td>
                    <select class="project-input" id="Department" name="Department">
                        <option value="">全部</option>
                        @foreach (var item in ViewBag.DepartList)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </select>
                </td>
                <td>立项时间(开始) </td>
                <td>
                    <input type="text" class="project-input laydate-icon" readonly id="CreateTimeBegin" name="CreateTimeBegin" />
                </td>
                <td>立项时间(结束) </td>
                <td><input type="text" class="project-input laydate-icon" readonly id="CreateTimeEnd" name="CreateTimeEnd" /></td>
                <td>立项备注</td>
                <td><input type="text" class="project-input" id="Remark" name="Remark" maxlength="200" /></td>
                <td></td>
                <td></td>
            </tr>
            <tr tag="arrow" style="display: none;">
                <td>客户姓名：</td>
                <td><input type="text" class="project-input" id="CustomerName" /></td>
                <td>客户手机：</td>
                <td><input type="tel" class="project-input" id="CustomerTel" /></td>
                <td>客户电话：</td>
                <td><input type="tel" class="project-input" id="CustomerPhone"></td>
                <td>项目状态：</td>
                <td>
                    <select class="project-input" id="State" name="State">
                        <option value="">全部</option>
                        <option value="正常">正常</option>
                        <option value="取消">取消</option>
                    </select>
                </td>



            </tr>
            <tr tag="arrow" style="display: none;">
                <td>看房联系人：</td>
                <td><input type="text" class="project-input" id="ContactsName" name="ContactsName" /></td>
                <td>看房联系人电话：</td>
                <td><input type="text" class="business-input" id="ContactsPhone" name="ContactsPhone" /></td>
                <td>查询方案：</td>
                <td>
                    <select class="business-input" id="Solution" name="Solution">
                        <option value="0">请选择</option>
                        @foreach (var sl in ViewBag.querySolution)
                        {
                            if (sl.IsDefault)
                            {
                                <option value="@sl.tid" selected="selected">@sl.SolutionName</option>
                            }
                            else
                            {
                                <option value="@sl.tid">@sl.SolutionName</option>
                            }
                        }
                    </select>
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class="inquire-btn">
            <button type="submit" class="inquire-btn-1">查询</button>
            @*<button type="button" class="inquire-btn-2" id="btn_Download" name="btn_Download">下载报告</button>*@
            <button type="button" class="inquire-btn-3" id="btn_export">批量导出</button>
            <button type="button" id="ConfigListFunction" class="project-btn-3">方案配置</button>
        </div>
    </form>
    <table id="table"></table>
</div>
<script type="text/javascript">
    var $table = $('#table');
    var dialog;
    $(function () {
        //查询验证
        $("#searchinfo").validate({
            rules: {
                //流水号
                ProjectNo: {
                    maxlength: 15,
                    isDigits: true
                },
                //报告编号
                reportNo: {
                    maxlength: 18,
                    isDigits: true
                },
                //物业地址
                HouseAddress: {
                    maxlength: 50
                },
                //小区名称
                Community: {
                    maxlength: 50
                },
                //看房联系人
                cont_phonenum: {
                    maxlength: 15,
                    isDigits: true
                }
            },
            messages: {
                ProjectNo: {
                    maxlength: jQuery.validator.format("亲,字符不用超过15个"),
                    isDigits: "输入的必须为数字"
                },
                reportNo: {
                    maxlength: jQuery.validator.format("亲,字符不用超过18个"),
                    isDigits: "输入的必须为数字"
                },
                HouseAddress: {
                    maxlength: jQuery.validator.format("亲,字符不用超过50个")
                },
                Community: {
                    maxlength: jQuery.validator.format("亲,字符不用超过50个")
                },
                cont_phonenum: {
                    maxlength: jQuery.validator.format("亲,字符不用超过15个"),
                    isDigits: "输入的必须为数字"
                }
            },
            success: function (label) {
                layer.close(dialog);
                $("#" + label[0].htmlFor).removeClass("error-border");
            },
            errorPlacement: function (error, element) {
                $("#" + element[0].id).addClass("error-border");
                dialog = layer.tips(error[0].innerHTML, "#" + element[0].id, {
                    tips: [2, '#F99228']
                });
            }, submitHandler: function () {
                //查询的方法
                resize();
            }
        });
        var ProjectCreatorTimeStart = {
            elem: '#CreateTimeBegin',
            format: 'YYYY-MM-DD',
            min: '1799-06-16',
            istoday: true,
            max: laydate.now(),
            choose: function (datas) {
                ProjectCreatorTimeEnd.min = datas; //开始日选好后，重置结束日的最小日期
                ProjectCreatorTimeEnd.start = datas //将结束日的初始值设定为开始日
            }
        };
        var ProjectCreatorTimeEnd = {
            elem: '#CreateTimeEnd',
            format: 'YYYY-MM-DD',
            istoday: true,
            max: laydate.now(),
            choose: function (datas) {
                ProjectCreatorTimeStart.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(ProjectCreatorTimeStart);
        laydate(ProjectCreatorTimeEnd);
        resize();
        $("#pointer").click(function () {

            if ($(this).hasClass("fa-arrow-circle-o-down")) {
                $(this).removeClass(" fa-arrow-circle-o-down").addClass(" fa-arrow-circle-o-up");
                $("tr[tag=arrow]").show();

            } else {
                $(this).removeClass(" fa-arrow-circle-o-up").addClass(" fa-arrow-circle-o-down");
                $("tr[tag=arrow]").hide();
            }
        });

        //下载报告
        //$("#btn_Download").click(DownloadFile);


        //方案配置
        $("#ConfigListFunction").click(function () {
            parent.changeIframe('ConfigListFunction_IntegratedQuery', '方案配置', '/IntegratedQuery/ConfigListFunction?FunCode=ProjectQuery');
            //parent.$("#url").attr("src", "/IntegratedQuery/ConfigListFunction?FunCode=ProjectQuery");
        });
        $(window).resize(function () {
            $('#table').bootstrapTable('resetWidth', '100%');
        });
        $("#btn_export").click(function () {
            var solutionId = $("#Solution").val();
            var str = "&ProjectNo=" + $("#ProjectNo").val() + "&Address=" + $("#Address").val() + "&ReportNo=" + $("#ReportNo").val()
                    + "&ResidentialAreaName=" + $("#ResidentialAreaName").val() + "&Bank=" + $("#Bank").val()
                    + "&Subbranch=" + $("#Subbranch").val() + "&CustomerName=" + $("#CustomerName").val()
                    + "&CustomerTel=" + $("#CustomerTel").val()
            + "&CustomerPhone=" + $("#CustomerPhone").val()
             + "&ContactsPhone=" + $("#ContactsPhone").val()
             + "&ContactsName=" + $("#ContactsName").val()
             + "&PropertyType=" + $("#PropertyType").val()
             + "&ReportType=" + $("#ReportType").val()
             + "&DepartmentId=" + $("#Department").val()
             + "&Remark=" + $("#Remark").val()
             + "&CreateTimeBegin=" + $("#CreateTimeBegin").val()
             + "&CreateTimeEnd=" + $("#CreateTimeEnd").val();
            window.open("@Url.Action("ExportData")" + "?SolutionId=" + solutionId + str);
        });
    });

    function resize() {
        var solutionID = $("#Solution").val();
        $.ajax({
            type: "get",
            datatype: "json",
            url: "/IntegratedQuery/GetSolutionCols?SolutionId=" + solutionID + "&FuncCode=ProjectQuery",
            success: function (data) { 
                var col = data.columns;
                //col.unshift({ field: 'id', checkbox: true, clickToSelect: true });
                col.push({
                    title: '操作',
                    align: 'left',
                    valign: 'middle',
                    width: '10%',
                    formatter: function (value, row, index) {
                        var e = '<a href="javascript:void(0);"  onclick="View(\'' + row.sumId + '\')">查看</a> ';
                        e += '<a href="javascript:void(0);"  onclick="DownloadFile(\'' + row.ProjectId + '\',\'' + row.ProjectNo + '\')">下载报告</a> ';
                        return e;
                    }
                });
                $table.bootstrapTable('destroy').bootstrapTable({
                    height: "auto",
                    url: "/IntegratedQuery/Search",
                    dataType: "json",
                    pagination: true, //分页
                    singleSelect: false,
                    checkboxHeader: true,
                    columns: col,
                    sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber: 1, //初始化加载第一页，默认第一页
                    pageSize: 10, //每页的记录行数（*）
                    pageList: [10, 25, 50, 100], //可供选择的每页的行数（*）
                    uniqueId: "ProjectId", //每一行的唯一标识，一般为主键列
                    queryParams:function(params) {
                        var temp = {
                            ProjectNo: $("#ProjectNo").val(),
                            ReportNo: $("#ReportNo").val(),
                            Address: $("#Address").val(),
                            ResidentialAreaName: $("#ResidentialAreaName").val(),
                            Bank: $("#Bank").val(),
                            Subbranch: $("#Subbranch").val(),
                            CustomerName: $("#CustomerName").val(),
                            CustomerTel: $("#CustomerTel").val(),
                            ContactsPhone: $("#ContactsPhone").val(),
                            PropertyType: $("#PropertyType").val(),
                            ReportType: $("#ReportType").val(),
                            DepartmentId: $("#Department").val(),
                            CustomerPhone: $("#CustomerPhone").val(),
                            ContactsName: $("#ContactsName").val(),
                            Remark: $("#Remark").val(),
                            CreateTimeBegin: $("#CreateTimeBegin").val(),
                            CreateTimeEnd: $("#CreateTimeEnd").val(),
                            State:$("#State").val(),
                            index: params.offset / params.limit + 1, //页码
                            rows: params.limit, //页面大小
                            SolutionId: solutionID
                        };
                        return temp;
                    }
                });
            },
            error: function (data) {
                layer.alert("选择的查询方案没有配置列，请先配置！", { icon: 0 });
            }
        });
    }
    function View(sumId) {
        parent.changeIframe('Detail_IntegratedQuery', '综合查询查看详细', '/IntegratedQuery/Detail?id=' + sumId);
        //parent.$("#url").attr("src", "/IntegratedQuery/Detail?id=" + sumId);
    }

    //下载报告
    function DownloadFile(id,projectNo) {
        //var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
        //    return row.id;
        //});
        //if (ids.length == 0) {
        //    layer.alert("请选中一个项目再下载！", { icon: 0 });
        //    return;
        //} else if (ids.length > 1) {
        //    layer.alert("不能选中多个项目！", { icon: 0 });
        //    return;
        //}
        layer.open({
            type: 2,
            title: '文件下载',
            area: ['300px', '200px'],
            content: "/IntegratedQuery/DownloadFiles?projectId=" + id + "&projectNo="+projectNo
        });
    }
</script>
