@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<p class="f-tc"style="margin-top: 5px;margin-bottom: 0">
    <label for=""><input type="checkbox" id="checkall" />全选/反选</label>
</p>
<div class="layer_notice sm">
    <div class="f-cf" style="height:100%;overflow: auto">
        @foreach (var cols in ViewBag.FuncCols as List<Peacock.PEP.Model.DTO.ConfigFunctioncolModel>)
        {
            if ((ViewBag.UserFuncCols as List<Peacock.PEP.Model.DTO.ConfigFunctioncolModel>).Select(x => x.tid).Contains(cols.tid))
            {
                <div class="col-xs-2">
                    <label for=""><input type="checkbox" value="@cols.tid" checked="checked" />@cols.ColName</label>
                </div>
            }
            else
            {
                <div class="col-xs-2">
                    <label for=""><input type="checkbox" value="@cols.tid" />@cols.ColName</label>
                </div>
            }
        }
    </div>
    <br />
    <p class="f-tc">
        <button type="submit" class="project-btn-noima " id="submit">确定</button>
        <button type="button" class="ck-btn-qlan " id="cancel"> 取消</button>
    </p>
</div>
<script>
    var ColIds = "";
    $(function () {
        $("#checkall").click(function () {
            $(".col-xs-2 input[type='checkbox']").prop({ checked: $(this).is(":checked") });
        });

       // parent.layer.iframeAuto(parent.set);
        //alert(parent.set);
        $("#submit").click(function () {
           
            var selectCount = $(".col-xs-2 input[type='checkbox']:checked").length;
            if (selectCount < 1) {
                parent.layer.alert('请至少选择一列');
                return;
            }
            $(".col-xs-2 input[type='checkbox']:checked").each(function (e) {
                ColIds += $(this).val() + ",";
            });
            ColIds = ColIds.substring(0, ColIds.length - 1);
            $.ajax({
                url: "/IntegratedQuery/SaveSolutionColInfo",
                data: { SolutionId:'@Request.QueryString["SolutionId"]', ColIds: ColIds },
                type: "post",
                beforesend:parent.showLoadingTips(),
                success: function (data) {
                    parent.hideLoadingTips();
                    if (data.success)
                        parent.layer.close(parent.set);
                },
                error: function (data) {
                    parent.hideLoadingTips();
                    layer.alert('操作失败');
                }
            });

        });
        $("#cancel").click(function () {
            parent.layer.close(parent.set);
        });
    });
</script>