@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<ul class="m-crm">
    <li><a href="@Url.Action("Welcome", "Home")"><i class="fa fa-home"></i>&nbsp;&nbsp;首页</a> <span class="divider">&gt;</span></li>
    <li><a href="@Url.Action("Index", "ProjectReview")">&nbsp;&nbsp;项目审核</a> <span class="divider">&gt;</span></li>
    <li>查看报告</li>
</ul>

<div class="ck-report">
    <div class="ck-report-btn">
        <form id="switchForm" action="@Url.Content("~/ProjectReview/ViewReport")" method="post" enctype="application/x-www-form-urlencoded">
            <button id="Report" class="xj-btn-lan">报告</button>
            <button id="Excel" class="ck-btn-qlan">计算表</button>
            <input type="hidden" value="@ViewBag.projectId" name="projectId">
            @*<input type="hidden" value="@ViewBag.resourceType" name="resourceType">*@
            <input type="hidden" value="" name="resourceType">
        </form>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.msg))
    {
       <div>@ViewBag.msg</div> 
    }
    else
    { 
    <div style="width: 100%; height:650px; margin-top:10px;">@Html.Raw(ViewBag.EditorHtml)</div>
    }
</div>

<script type="text/javascript">
    $(function () {
        if ("@ViewBag.resourceType" == '1') {
            $('#Report').css('background', '#077BCA');
            $("#Excel").css('background', '#4DB5F2');
        }
        else {
            $("#Excel").css('background', '#077BCA');
            $('#Report').css('background', '#4DB5F2');
        }
    });

    //报告
    $("#Report").on("click", function () {
        $("input[name='resourceType']").val('1');
        $("#switchForm").submit();      
    });

    //计算表
    $("#Excel").on("click", function () {
        $("input[name='resourceType']").val('2');
        $("#switchForm").submit();       
    });

    //文件打开后
    function AfterDocumentOpened() {
        document.getElementById("PageOfficeCtrl2").SetEnableFileCommand(3, false);  //禁止保存
        document.getElementById("PageOfficeCtrl2").SetEnableFileCommand(4, false);  //禁止另存
    }

    //保存
    function Save() {
        document.getElementById("PageOfficeCtrl2").WebSave();
        var CustomSaveResult = document.getElementById("PageOfficeCtrl2").CustomSaveResult;
        if (CustomSaveResult != null && CustomSaveResult != "") {
            document.getElementById("PageOfficeCtrl2").Alert(CustomSaveResult);
            return;
        }
        var projectId = "@ViewBag.projectId";
        var localFileName = "@ViewBag.localFileName";
        var resourceId = "@ViewBag.ResourceId";
        var resourceType = "@ViewBag.resourceType";
        var id = "@ViewBag.Id";
        $.post("@Url.Content("~/ProjectReview/SaveEditReport")", { "projectId": projectId, "localFileName": localFileName, "ResourceId": resourceId, "resourceType": resourceType, "id": id }, function (result) {
            layer.msg("result", { time: 1500, shade: [0.3, '#000'] });
        });
    }

</script>